@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

@layer components {
  .section-padding {
    @apply sm:px-16 px-6 sm:py-16 py-10;
  }
  
  .btn {
    @apply px-6 py-3 rounded-lg font-medium transition-all duration-300;
  }
  
  .btn-primary {
    @apply bg-tertiary text-white-100 hover:bg-opacity-90;
  }
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}